

{% block head %}


<title>Employee Retension</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Housing Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">satisfaction_level</label>
                <input class="form-control" type="text" name="satisfaction_level" placeholder="Enter a value of longitude"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">last_evaluation</label>
                <input class="form-control" type="text" name="last_evaluation" placeholder="Enter a value of latitude"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">number_project</label>
                <input class="form-control" type="text" name="number_project"
                    placeholder="Enter a value of number_project" />

            </div>
            <div class="mb-3">
                <label class="form-label">average_montly_hours</label>
                <input class="form-control" type="text" name="average_montly_hours" placeholder="Enter a value of total_rooms"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">time_spend_company</label>
                <input class="form-control" type="text" name="time_spend_company"
                    placeholder="Enter a value of total_bedrooms" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Work_accident</label>
                <input class="form-control" type="text" name="Work_accident" placeholder="Enter a value of population"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">promotion_last_5years</label>
                <input class="form-control" type="text" name="promotion_last_5years" placeholder="Enter a value of households"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">sales</label>
                <input class="form-control" type="text" name="sales"
                    placeholder="Enter a value of median_income" required />
            </div>
            <div class="mb-3">
                <label class="form-label">salary</label>
                <select class="form-control" name="salary" placeholder="Enter a value of ocean_proximity"
                    required>

                    <option value="low">
                      low
                    </option>
                    <option value="medium">
                      medium
                    </option>
                    <option value="high">
                      high
                    </option>

                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Median House Value" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              HR Employee Retension Prediction
            </div>
            <div class="card-body">
        {% if context['retension_data'] is not none %}
        <table class="table table-striped">
            <caption>Employee Retension Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['retension_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>median_house_value </td>
                <td>
                    {{ context['left'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate housing price in california</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}